<html>
<head>
</head>
    <body>
            {{form_start(form)}}
            <h1> add new book </h1>
            {{form(form)}}
            <table class="table>
        
            </table>
         <! we can add this by <input type="submit"> >
            {{form_end(form)}}

        </body>
</html>
